@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500;600&display=swap');

:root {
  --font-family: 'Outfit', Helvetica, sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #171717;
  font-feature-settings: 'pnum' on, 'lnum' on;

  background-color: var(--color-background-primary);
}

body.has-modal {
  overflow: hidden;
}

input,
textarea,
button {
  font-family: var(--font-family);
  color: #171717;
  padding: 0;
  font-feature-settings: 'pnum' on, 'lnum' on;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.2;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul,
ol,
li {
  list-style: none;
  text-decoration: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a {
  font-family: var(--font-family);
  color: #171717;
  text-decoration-skip-ink: auto;
  text-decoration: none;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
  background-color: #fff;
  border: none;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms;
    animation-iteration-count: 1;
    transition-duration: 0.01ms;
    scroll-behavior: auto;
  }
}
